<h2>Lista de User agentes mais acessados</h2>

<p>
  Buscar:
  <input type="number" [(ngModel)]="qtdBusca">
  de {{ filteredAcessos.length }}

  <button type="button" (click)="buscar()">Buscar</button>

  <label>
    <input type="checkbox" [(ngModel)]="buscaNRepetidos" (ngModelChange)="filtraAcessos()">
    Não Repetidos
  </label>
</p>

<table border=1>
  <thead>
    <tr>
      <th>Qtd</th>
      <th>User agent</th>
    </tr>
  </thead>
  <tr *ngFor="let acesso of filteredAcessos | sort:'qtd_acessos':'desc' | slice:0:qtdBusca">
    <td>{{ acesso?.qtd_acessos }}</td>
    <td>{{ acesso?.user_agent }}</td>
  </tr>
</table>

<hr>


<p>
  Exibir:
  <input type="number" [(ngModel)]="qtdExibir"> de {{ listaResults.length }}
  <button (click)="refreshResult()">Atualizar</button>
  <button (click)="clearResult()">Limpar</button>
</p>

<table border=1>
  <thead>
    <tr>
      <th>Qtd</th>
      <th>User agent</th>
      <!-- <th>Version</th> -->
      <!-- <th>System</th> -->
      <!-- <th>User agent</th> -->
    </tr>
  </thead>
  <tr *ngFor="let result of grouplistaResults | sort:'qtd_acessos':'desc' | slice:0:qtdExibir">
    <td>{{ result?.qtd_acessos }}</td>
    <td>{{ result?.software }}</td>
    <!-- <td>{{ result?.software_name }}</td> -->
    <!-- <td>{{ result?.software_version }}</td> -->
    <!-- <td>{{ result?.operating_system_name_code }}</td> -->
    <!-- <td>{{ result?.user_agent }}</td> -->
  </tr>
</table>
